.galleryItem {
  display: inline-block;
  margin: 8px;
  cursor: pointer;
}

.galleryImage {
  width: 100%;

  border-radius: 4px;
  transition: transform 250ms ease;
}

.galleryImage:hover {
  transform: scale(1.03);
}
img {
  display: block;
  max-width: 100%;
  height: 250px;
}
